## 08/01/2020

### Tuples in python
- Tuples are similar to List
- Used to read the object data
- List is mutable and Tuple are immutable
- List object can be used for insert,update,delete
- Tuple object can only support for reading
- Tuple can be defined as with in parenthesis()

In [3]:
t1=(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [4]:
print(t1[0:3])

(1, 2, 3)

In [5]:
print(t1[2:-1])

(3, 4)

In [6]:
t1[1]=1990

TypeError: 'tuple' object does not support item assignment

In [7]:
del t1[2]

TypeError: 'tuple' object doesn't support item deletion

In [8]:
for i in range(len(t1)):
    print(t1[i], end=' ')

1 2 3 4 5

### Dictionaries in python

- General purpose data structure in python
- Dict object basically consists of key and value
- Dict object consists of unique key
- Dict object can be enclosed in curly braces-{}
- One pair key and value is seperated by comma(,) 
- Every key and value is seperated by colon symbol (:)

In [9]:
d1={"Name":"kavya","EmailID":"kavyathatavarti@gmail.com","phoneno":9553941253}
print(d1)

{'Name': 'kavya', 'EmailID': 'kavyathatavarti@gmail.com', 'phoneno': 9553941253}

In [10]:
type(d1)

dict

In [11]:
print(d1["Name"])

kavya

In [12]:
d1.keys()

dict_keys(['Name', 'EmailID', 'phoneno'])

In [13]:
li=[]
li=d1.keys()
print(li)

dict_keys(['Name', 'EmailID', 'phoneno'])

In [14]:
len(d1.keys())

3

In [15]:
li=[]
for i in d1.keys():
    li.append(i)
print(li)

['Name', 'EmailID', 'phoneno']

In [16]:
[*d1]

['Name', 'EmailID', 'phoneno']

In [17]:
li=[]
li1=list(d1.keys())
li1

['Name', 'EmailID', 'phoneno']

In [18]:
d1.values()

dict_values(['kavya', 'kavyathatavarti@gmail.com', 9553941253])

In [19]:
li_val=[]
li_val=list(d1.values())
li_val

['kavya', 'kavyathatavarti@gmail.com', 9553941253]

In [20]:
d1.items()

dict_items([('Name', 'kavya'), ('EmailID', 'kavyathatavarti@gmail.com'), ('phoneno', 9553941253)])

In [21]:
del d1["Name"] # if key is deleted ,then its corresponding value is also deleted

In [22]:
d1

{'EmailID': 'kavyathatavarti@gmail.com', 'phoneno': 9553941253}

In [23]:
d1["Name"]="Kavya sree" 
d1

{'EmailID': 'kavyathatavarti@gmail.com',
 'phoneno': 9553941253,
 'Name': 'Kavya sree'}

### in , not in operator

In [24]:
li1

['Name', 'EmailID', 'phoneno']

In [25]:
"Name" in li1

True

In [26]:
"kavya" in li1

False

In [27]:
"kavya" not in li1

True

### Contact Application
- **List, Tuple ,Dict**
- Add a new contact details
- Search contact details
- Edit contact details
- delete contact details
- Sort names of contact
- One name should have 2 phone numbers

In [6]:
contacts={} # Empty dictionary object
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print(name,"Inserted successfully")
    else:
        print(name,"Already exists")
    return
addcontact('kavya',9553941253) #inserted
addcontact('rani',9290570453) #inserted
addcontact('kavya',8125771977) # error

kavya Inserted successfully
rani Inserted successfully
kavya Already exists

In [7]:
contacts

{'kavya': 9553941253, 'rani': 9290570453}

In [8]:
# To search the contact
def searchcontact(name):
    if name in contacts:
        return (name," : ",contacts[name])
    return "contact is not present"
print(searchcontact('kavya'))
print(searchcontact('sukku'))

('kavya', ' : ', 9553941253)
contact is not present

In [9]:
# To edit the contact 
def editcontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"updated succesfully")
    else:
        print(name,"not exists")
    return
editcontact('kavya',8125771977)
editcontact('sukku',8019636373)

kavya updated succesfully
sukku not exists

In [10]:
contacts

{'kavya': 8125771977, 'rani': 9290570453}

In [11]:
# To delete the contact 
def delcontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted succesfully")
    else:
        print(name,"not exists")
    return
delcontact('kavya')
delcontact('sukku')

kavya deleted succesfully
sukku not exists

In [12]:
contacts

{'rani': 9290570453}

In [51]:
contacts['kavya']=9553941253

In [14]:
contacts['bhaskar']=9247920272

In [15]:
contacts['sam']=8121920453

In [16]:
contacts['sukku']=8019636373

In [17]:
contacts['chandu']=9666767675

In [18]:
contacts['jyothi']=9100550480

In [52]:
contacts

{'rani': 9290570453,
 'bhaskar': 9247920272,
 'sam': 8121920453,
 'sukku': 8019636373,
 'chandu': 9666767675,
 'jyothi': 9100550480,
 'kavya': 9553941253}

In [53]:
# To sort the contacts
def sortcontact(contacts):
    d={}
    for i in sorted(contacts):
        d[i]=contacts[i]
    print(d)
sortcontact(contacts)

{'bhaskar': 9247920272, 'chandu': 9666767675, 'jyothi': 9100550480, 'kavya': 9553941253, 'rani': 9290570453, 'sam': 8121920453, 'sukku': 8019636373}

In [23]:
sorted(contacts)

['bhaskar', 'chandu', 'jyothi', 'kavya', 'rani', 'sam', 'sukku']

In [38]:
# To add multiple phone numbers to a contact

contact={} # Empty dictionary object
def addtwocontact(name,phone1,phone2):
    if name not in contacts:
        contact[name]=phone1,phone2
        print(name,"Inserted successfully")
    else:
        print(name,"Already exists")
    return
addtwocontact('v',9553941253,8215771977)
addtwocontact('a',9100045048,3557654549)

v Inserted successfully
a Inserted successfully

In [42]:
print(contact)

{'v': (9553941253, 8215771977), 'a': (9100045048, 3557654549)}

In [54]:
# To add multiple phone numbers to a contact
def twocontacts(name,phone1):
    if name in contacts:
        contacts[name]=contacts[name],phone1
        print("inserted sucessfully")
    else:
        print("already exists")
twocontacts('kavya',8125771977)

inserted sucessfully

In [55]:
contacts

{'rani': 9290570453,
 'bhaskar': 9247920272,
 'sam': 8121920453,
 'sukku': 8019636373,
 'chandu': 9666767675,
 'jyothi': 9100550480,
 'kavya': (9553941253, 8125771977)}

### Sets

In [2]:
s=set()
print(type(s))

<class 'set'>

In [4]:
s={1,2,3,4}
print(type(s))

<class 'set'>

### ADD

In [9]:
s1={4,5}
s1.add(6) # add is used to add a single element

In [10]:
print(s1)

{4, 5, 6}

### Update

In [16]:
s1.update(s) # 
print(s1)

{1, 2, 3, 4, 5, 6}

### Discard
- if you delete a value and again you are deleting the value,it does not throw any error.

In [19]:
s1.discard(2)
print(s1)

{1, 3, 4, 5, 6}

### Remove
- if you delete a value and again you are deleting the value,it does not throw any error.

In [20]:
s1.remove(2) # it throws error
print(s1)

KeyError: 2

### POP

In [34]:
s1={1,2,3,4,5,6,7}
s1.pop()
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)

{2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}
{4, 5, 6, 7}
{5, 6, 7}
{6, 7}
{7}

In [37]:
s1={'a','b','c','d'}
s1.pop()
print(s1)
s1.pop()
print(s1)
s1.pop()
print(s1)

{'a', 'b', 'd'}
{'b', 'd'}
{'d'}

### Union

In [43]:
s2={1,2,3,4,5}
s3={'A','B'}
s4=s2.union(s3)
print(s4)

{1, 2, 3, 4, 5, 'B', 'A'}

In [46]:
s2={1,2,3,4,5}
s3={6,7,8,9}
s4=s2.union(s3)
print(s4)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Built-in functions
- all()
- any()
- min()
- max()
- len()
- enumerate()
- sorted()
- sum()

In [53]:
s4={1,2,3,4,5,6,7,8,9}
min(s4)

1

In [54]:
max(s4)

9

In [55]:
len(s4)

9

In [56]:
sum(s4)

45

In [64]:
set={0,1,2}
s=any(set)
print(s)

True

In [65]:
set={0,1,2}
s=all(set)
print(s)

False

In [68]:
s5={9,6,2,8,1,8,0,3,7,5,4}
sorted(s5)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
li = ["Rani","Kavya","Sukku"]
print(list(enumerate(li))) 
print(list(enumerate(li,2)))

[(0, 'Rani'), (1, 'Kavya'), (2, 'Sukku')]
[(2, 'Rani'), (3, 'Kavya'), (4, 'Sukku')]

### programs

In [1]:
l=['a','b','c','d','e']
l1=[]
for i in range(0,len(l)):
    l1.append(l[i]+l[-1])
print(l1)

['ad', 'bd', 'cd', 'dd']

In [2]:
k=input("enter string")
l=list(k)
s=" "
for i in range(len(k)):
    if(l[i]=='w'):
        l[i]='m'
for i in l:
    s=s+i
print(s)

enter stringworst
 morst

### To print no. of upper case letters

In [15]:
s="AbbbAcB"
u=0
l=0
for i in range(0,len(s)):
    if(ord(s[i]) >= 65 and ord(s[i] )<= 90):
        u=u+1
    elif(ord(s[i]) >= 97 and ord(s[i]) <= 122):
        l=l+1
print("NO of Upper letters",u)
print("No of Lower letters",l)

NO of Upper letters 3
No of Lower letters 4

### program to eliminate fog

In [17]:
s="apple fog banana fog"
l=s.split()
l1=[]
s=" "
for i in range(0,len(l)):
    if(l[i]=="fog"):
        continue
    else:
        s=s+l[i]+" "
print(s,end="  ")

 apple banana

### To print Square

In [11]:
n=4
for i in range(0,n):
    for j in range(0,n):
        print("*",end=' ')
    print( )

* * * *
* * * *
* * * *
* * * *

In [22]:
n=4
for i in range(0,n):
    for j in range(0,2*n+1):
        print("*",end=' ')
    print( )

* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *