## 04/01/2020

# Introduction to python programming
## Introduction to python programming
### Introduction to python programming
#### Introduction to python programming
##### Introduction to python programming

- point 1
- point 2
     - point 2.1
     - point 2.2
     - point 2.3
- point 3

- To print in bold,italic fonts
- **point 1**
- ***point 2***
- *point 3*

In [3]:
pwd

'C:\\Users\\sivar'

<img src ="python.jpg"/>

<img src ="python.jpg" height="50px" weight="50px"/>

# python programming
- python can be used as general programming.
- python more popular because of internal and external packages.
- python can be used as functional programming,OOP,scripting programming.
- python can be used in data science,Machine Learning and AI.
- Data science
     - pandas
- Visualization
     - Matlib,scipy
- Multi-dimensional programming
     - Numpy

In [2]:
print("Hello")

Hello

In [3]:
print("Hello")
print("kavya")

Hello
kavya

In [4]:
print("Hello","Kavya")

Hello Kavya

In [7]:
print("Hello",end=' ')
print("Kavya")

Hello Kavya

# Datatypes in pythons
- int
- float
- string

In [9]:
x =1000000000
print(x,type(x))

1000000000 <class 'int'>

In [10]:
y=10.00221
print(y,type(y))

10.00221 <class 'float'>

In [11]:
z ='s1'
z1="s2"
print(z,type(z))
print(z1,type(z1))

s1 <class 'str'>
s2 <class 'str'>

# Input function in python
- input() which reads the input from console and gives the output in terms of string format.

In [13]:
s=input("enter your name")
print(s,type(s))

enter your namekavya
kavya <class 'str'>

In [14]:
s1=input("enter your rollno")
print(s1,type(s1))

enter your rollno7050
7050 <class 'str'>

# Type Conversions
- int()
     - It makes the input into integer class
- float()
     - It makes the input into float class
- str()
     - It makes the input into string class

In [15]:
s=int(input("enter the rollno"))
print(s,type(s))

enter the rollno7050
7050 <class 'int'>

In [16]:
s=int(input(""))
print(s,type(s))

7050
7050 <class 'int'>

# Conditional Flow Statements
- conditional statements
     - if-else
- loop statements
     - while
     - for

In [8]:
x=int(input())
if x%2==0:
    print("Even")
else:
    print("Odd")

5
Odd

# Read a character and upper case or lower case
#### ASCII :
- A-Z :65 - 90
- a-z:97 - 122
- 0 -9:48 - 57
- space: 32
- ord('char')- ASCII

In [9]:
x=input()
if ord(x)>=65 and ord(x)<=90:
    print("Uppercase Character")
elif ord(x)>=97 and ord(x)<=122:
    print("Lowercase Character")

A
Uppercase Character

In [2]:
ord('a')

97

In [3]:
ord('A')

65

In [4]:
ord('0')

48

In [5]:
ord(' ')

32

## Read the char and print the output in vice versa
- a ->A
- A ->a
- chr() used to convert ASCII to character.

In [21]:
x=input()
if ord(x)>=65 and ord(x)<=90:
    print(chr(ord(x)+32))
elif ord(x)>=97 and ord(x)<=122:
    print(chr(ord(x)-32))

A
a

### Integer Division

In [17]:
print(10/3)

3.3333333333333335

### Floor Division

In [18]:
print(10//3)

3

### and, or, not
### while loop
      - no fixed no. of iterations
### for loop
      - fixed no. of iterations

## python programs
### print the natural numbers from 1 to N

In [22]:
n=int(input())
i=1
while i<=n:
    print(i,end=' ')
    i+=1

10
1 2 3 4 5 6 7 8 9 10

### print the factors of the given number
- 6->1,2,3,6

In [23]:
n=int(input())
i=1
while i<=n:
    if(n%i==0):
        print(i,end=' ')
    i+=1

6
1 2 3 6

### print the digits of given number from right side
- 145->5 4 1

In [26]:
n=int(input())
while n!=0:
    print(n%10,end=' ')
    n=n//10

145
5 4 1

### Range functions

In [27]:
range(5)

range(0, 5)

In [28]:
for x in range(5):
    print(x,end=' ')

0 1 2 3 4

In [29]:
for x in range(1,11):
    print(x,end=' ')

1 2 3 4 5 6 7 8 9 10

In [32]:
for x in range(100,150,2):
    print(x,end=' ')

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148

In [33]:
for x in range(150,100,-2):
    print(x,end=' ')

150 148 146 144 142 140 138 136 134 132 130 128 126 124 122 120 118 116 114 112 110 108 106 104 102

## Data Structures
- organizing the huge amount of data
- makes the user to search,sort and filter the respective in simple manner
- examples: database

## Data Structures in python
- List
- Tuples
- Dictionaries
- Sets

## List in python
- Common data Structure in python
- Used to define the range/group of items under a same name
- List can be same type or different type
- List always enclosed in square brackets
- Every list item will be separated by comma(,)
- (.) used for methods.It is a data binding operator

### Homogenous list

In [1]:
li=[1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

### List with looping

In [2]:
for x in range(len(li)):
    print(li[x],end=' ')

1 2 3 4 5

In [5]:
# Non-Homogenous list
l=[1999,"jyothi",'A',70.52]
for i in range(len(l)):
    print(l[i],end=' ')

1999 jyothi A 70.52

### Update,Delete operations in list

In [6]:
l[3]=90.08

In [7]:
print(l)

[1999, 'jyothi', 'A', 90.08]

In [8]:
del l[1]

In [9]:
print(l)

[1999, 'A', 90.08]

In [10]:
li=[19,1,25,6,9,12]
# list slicing
print(li[1:5])

[1, 25, 6, 9]

In [11]:
print(li[:5])

[19, 1, 25, 6, 9]

In [12]:
print(li[2:-1])

[25, 6, 9]

In [14]:
print(li[-4:-1])

[25, 6, 9]

### List methods and functions

In [20]:
print(li)
print(max(li))
print(min(li))
print(sum(li))
print(len(li))
print(sum(li)//len(li))

[19, 1, 25, 6, 9, 12]
25
1
72
6
12

In [25]:
li.append(100)
print(li)

[19, 1, 25, 6, 9, 12, 100]

In [26]:
li.insert(2,90)
li

[19, 1, 90, 25, 6, 9, 12, 100]

In [27]:
li.count(100)

1

In [31]:
li.reverse()
li

[12, 9, 6, 25, 90, 1, 19]

In [30]:
li.pop()
li

[19, 1, 90, 25, 6, 9, 12]

In [32]:
li.pop(2)
li

[12, 9, 25, 90, 1, 19]

In [33]:
li.sort()
li

[1, 9, 12, 19, 25, 90]

### Functional Programming
- Reuse code block can be called as **Function**
- Function will remove the duplicate of code
- Function will make programming more efficient
- Function wil decrease the length of code
-- def funName(<parameters>):
    statements
    - funName is always carnel case
    - Example: fact(),isprime(),ispalindrome Test()
    - parametersof the function is optional- In python function can be defined by def keyword.

In [22]:
# Define a function
def add():
    x=11
    y=12
    print(x+y)
    return #stops the function
#call the function
add()

23

In [23]:
def square(x):
    print(x*x)
    return 
square(10)

100

In [24]:
def cube(x):
    return x*x*x
cube(10)

1000

### Function to print second large number of list

In [35]:
def secondLarge(li):
    li.sort()
    return li[-2]
li=[19,1,25,6,9,12]
secondLarge(li)

19

### Function to find generic large value

In [38]:
def genericLarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,25,6,9,12]
genericLarge(li,3)

12

## 07/01/2020

# Dictionaries

### Empty dictionary

In [1]:
d={}
print(d)

{}

### Dictionary example

In [2]:
d1={'kavya':89,'jyothi':99}
print(d1)

{'kavya': 89, 'jyothi': 99}

In [7]:
d={1:'first',2:'second',3:'third',4:'fourth',5:'fifth'}
print(d)

{1: 'first', 2: 'second', 3: 'third', 4: 'fourth', 5: 'fifth'}

### Accessing the dictionaries using keys

In [8]:
print(d[1])
print(d[2])

first
second

### To print keys in your dictionaries

In [10]:
d.keys()

dict_keys([1, 2, 3, 4, 5])

### To print values in your dictionaries

In [11]:
d.values()

dict_values(['first', 'second', 'third', 'fourth', 'fifth'])

### To print both keys and values

In [19]:
d.items()

dict_items([(1, 'First'), (2, 'second'), (3, 'third'), (4, 'fourth'), (5, 'fifth')])

### To modify the values in the dictionaries

In [14]:
d[1]='First'
print(d)

{1: 'First', 2: 'second', 3: 'third', 4: 'fourth', 5: 'fifth'}

### To print all elements in dictionaries

In [18]:
for items in d.items():
    print(items)

(1, 'First')
(2, 'second')
(3, 'third')
(4, 'fourth')
(5, 'fifth')

### Functions in dictionaries

In [28]:
def dic(d2):
    print(d2)
d2={'k':'kavya','j':'jyothi'}
dic(d2)

{'k': 'kavya', 'j': 'jyothi'}

### Append in dictionaries

In [21]:
d[6]='sixth'
print(d)

{1: 'First', 2: 'second', 3: 'third', 4: 'fourth', 5: 'fifth', 6: 'sixth'}

### Delete in dictionaries

In [22]:
del d[6]
print(d)

{1: 'First', 2: 'second', 3: 'third', 4: 'fourth', 5: 'fifth'}

In [24]:
d.pop(5)
print(d)

{1: 'First', 2: 'second', 3: 'third', 4: 'fourth'}

### Delete the last element in dictionary

In [25]:
d.popitem()
d

{1: 'First', 2: 'second', 3: 'third'}

In [27]:
x=d.popitem()
x

(3, 'third')

In [29]:
print(d)

{1: 'First', 2: 'second'}

### To print the keys and values taken from keyboard

In [36]:
d3={}
n=int(input('enter the no of keys'))
for i in range(n):
    a=input("enter the key ")
    b=input("enter the value ")
    d3[a]=b
print(d3)

enter the no of keys3
enter the key k
enter the value kavya
enter the key a
enter the value avya
enter the key v
enter the value vya
{'k': 'kavya', 'a': 'avya', 'v': 'vya'}

In [8]:
d4={}
l=input()
l=l.split(',')
for i in l:
    t=i.split(':')
    d4[t[0]]=t[1]
print(d4)

1:2,3:4
{'1': '2', '3': '4'}

In [10]:
k=input("enter the text")
y=k.split(' ')
d5={}
for i in range(1,len(y)+1):
    d5[i]=y[i-1]
print(d5)

enter the texttoday is tuesday
{1: 'today', 2: 'is', 3: 'tuesday'}

In [1]:
n=int(input("enter the no of keys"))
d6={}
for i in range(n):
    x=int(input("enter the keys"))
    y=input("enter the values")
    d6[x]=y
print(d6)

enter the no of keys3
enter the keys1
enter the valuesk
enter the keys2
enter the valuesa
enter the keys1
enter the valuesy
{1: 'y', 2: 'a'}

## Tuples

In [1]:
t=()
print(t)

()

In [2]:
t=(7050,'kavya','A',90)
print(t)

(7050, 'kavya', 'A', 90)

### conversion of tuple to list

In [3]:
t=(1,'A',2,'B')
print(list(t))

[1, 'A', 2, 'B']

### conversion of list to tuple

In [4]:
l=[1,'a',2,'b']
print(tuple(l))

(1, 'a', 2, 'b')

### Creation of tuple with one element

In [6]:
t=("kavya",)
print(t)
type(t)

('kavya',)

tuple

In [7]:
t=("kavya")
print(t)
type(t)

kavya

str

### Tuples allows dupliate values

In [2]:
t=(1,2,3,2,3)
print(t)

(1, 2, 3, 2, 3)

### concatenation in tuples

In [13]:
t2=(5,6,7)
t3=t+t2
print(t3)

(1, 2, 3, 2, 3, 5, 6, 7)

### Tuple Membership

In [3]:
print('k' in 'kavya')

True

In [4]:
print(t.index(1))

0

In [5]:
print(t.count(3))

2

### Nested Tuples

In [10]:
t1=(1,2,3,[4,5,6])
t1[3][0]

4

In [11]:
t1[3][2]

6

In [ ]:
t4=(1,2)

### To delete the values in the nested tuple

In [12]:
del t1[3][0]
print(t1)

(1, 2, 3, [5, 6])

### Function to print squares of the given tuple

In [1]:
def square(l):
    l1=[]
    for i in l:
        s=l1.append(i**2)
    print(tuple(l1))
l=[1,2,3,4]
square(l)

(1, 4, 9, 16)

### Tuple constructor

In [3]:
tu=tuple(('jyo','kavya','rams'))
tu

('jyo', 'kavya', 'rams')

In [4]:
tu1=('A','B','C','D','E')[2]
tu1

'C'

In [5]:
tu1=('A','B',['C','D','E'])[2][1]
tu1

'D'

In [6]:
tu1=('A','B','C','D','E')[-4]
tu1

'B'

In [7]:
tu1=('A','B',['C','D','E'])[-1][-1]
tu1

'E'

In [8]:
tu1=('A','B',['C','D','E'])[-3]
tu1

'A'

In [10]:
tu2=(1,2,3,4,5,6,7,8,9,10)
print(tu2[1::2])

(2, 4, 6, 8, 10)

### Remove the empty tuples from a list of tuples

In [12]:
tu3=[(),(),('',),('a','b'),('a','b','c'),('d')]
tu3=[t for t in tu3 if t]
print(tu3)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

### Remove the elements starting with 's'

In [13]:
l=['kavya','sukku','sai','samba','jyothi','ramya']
l2=[]
for i in range(0,len(l)):
    if(l[i][0]!='s'):
        l2.append(l[i])
print(l2)

['kavya', 'jyothi', 'ramya']

### Sorting the tuple by its float value

In [1]:
def Sort(tup): 
    return(sorted(tup, key =lambda x:float(x[1]), reverse = True)) 
tup = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print(Sort(tup))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

### Replacing the last value of the tuple

In [14]:
t=[(10,20,30),(40,50,60),(70,80,90)]
l=[]
for i in range(0,len(t)):
    l2=list(t[i])
    l2[-1]=int(input("enter the values to modify"))
    l.append(tuple(l2))
print(l)

25
55
85
[(10, 20, 25), (40, 50, 55), (70, 80, 85)]